<!DOCTYPE html>
<html>

  {% include head.html %}

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4H99JTCZN9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    if (location.host !== 'iyu88.github.io') return;
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-4H99JTCZN9');
  </script>
  <!-- End of Google tag (gtag.js) -->

  <body>

    {% if site.google_tag.ua %}
    {% include gtag_body.html %}
    {% endif %}

    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
